# Basic Math Operations

### Arithmatic Operators 
ADD +
SUB -
MUL *
DIV / (real no.)
INTEGER DIV //(whole no.)
Exponent **(pow)

In [1]:
3-10

-7

In [2]:
329*123

40467

In [3]:
10.2-17

-6.800000000000001

In [4]:
10/9

1.1111111111111112

In [5]:
10/3

3.3333333333333335

In [6]:
10//3

3

In [7]:
10 ** 3

1000

In [8]:
20**7

1280000000

### Comparision operators

<,>,<=,>=,==,!=

In [9]:
200>1

True

In [10]:
89>=2

True

In [11]:
5!=6

True

In [12]:
'Hello'

'Hello'

In [13]:
'This is a simple Message'

'This is a simple Message'

In [15]:
"This is a message in Double Quotes" # only single Line

'This is a message in Double Quotes'

In [17]:
'''This is 
HP'''                                 # multiple line

'This is \nHP'

In [18]:
name = 'Ambuj Srivastava'

In [19]:
a=10
b=3

In [20]:
a +  b

13

In [21]:
a-b

7

In [22]:
b**a

59049

In [23]:
a//4

2

In [25]:
College = 'Babu Banarsi Das University'
DOB = '26 Jan'
Mobile = '7355084629'

In [28]:
Sys='Siuuu'                                                # End Of Line while scanning string literal

SyntaxError: EOL while scanning string literal (1759241371.py, line 1)

In [29]:
name

'Ambuj Srivastava'

In [30]:
DOB

'26 Jan'

In [31]:
Place            # name 'Place' is not defined    (undefined)

NameError: name 'Place' is not defined

### String Operators

In [33]:
'Hello' + ' ' +'World'

'Hello World'

In [34]:
123 + 'Hello' # unsupported operand type(s) for +: 'int' and 'str'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
DOB + 'My'

'26 JanMy'

In [37]:
'ðŸ˜‚' * 10

'ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚'

# Variables

In [1]:
name="Ambuj"
Hero = "Batman"
skills=['Fight','Intell','etc']
creator="Bob Kane"
created=1939

In [2]:
x=1
y=344442929732998327729711
z=-32565353663

In [3]:
x=9342**10

In [4]:
x

5062891606709698685355256211875335373824

In [5]:
type(x)

int

In [6]:
type(creator)

str

In [7]:
x=1.10
y=1.0
z=-34.12
z=87.7e100

In [8]:
institute='''Digi
podium'''

In [9]:
print(institute)

Digi
podium

In [10]:
color='Yellow'

In [11]:
kahani='''This is the story of the person who was not running to code
 one day that person started lerning to code'''

In [12]:
type(kahani)

str

In [15]:
is_coding=True
is_Fun= True
are_u_bored=False

In [16]:
x = None

In [17]:
a=[5,10,15,20,21]
vls=[1,2,2,'Python']
colors=['Red','Green','Blue']

In [21]:
a=(5,10,15,20,21)
vls=(1,2,2,'Python')
colors=('Red','Green','Blue')

In [22]:
a={5,10,2.2,30,40}
vls={1,2.2,'Py'}
cls={'Red','Green','Blue'}

In [24]:
car ={
"Brand":"Ford","Model": "Mustang","Year": 1964
}