# List
- list is mutable(item add ,remove)
- list is hetrogenos (mixed data types)
- can have duplicate values
- Indexed (indexed and cam be sliced)
- list uses '[]' brackets with values inside it seperated with commas

### What to learn
- #### creating a list
- #### indexing and slicing
- #### traversal (loping)
- #### function (11)
- #### comprehension
- #### lambda, map and filter

In [2]:
names=['Ambuj','Adidas','Manchester','Unted','Cristiano','Ronaldo']
factors=[1,2,3,5,7,8,9]
info=['Ravi']
c2d=[[2,3,4],[3,4,5],[4,5,7]]
fact

In [3]:
x=[1]*10
x

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [5]:
a=10
b='simple'
c=9
l=[a,b,c]
l

['', 'simple', 9]

In [6]:
expenses=[]
expenses.append(10)
expenses.append(20)
expenses.append(30)
print(expenses)

[10, 20, 30]

In [7]:
fav=[]
for i in range(3):
    food=input("Enter food name >")
    fav.append(food)
print(fav)

['A', 'b', 'c']

In [12]:
nums = []
for i in range(1,):
    nums.append(i)
print(nums)

[0]

### Functions

- adding items
    - append
    - insert
    - extend
- delete items
    - remove
    - pop
    - clear
- utility
    - reverse
    - sort
    - count
    - index
    - copy

In [1]:
fruits=[]
fruits.append('Apple')
fruits.append('banana')
fruits.append('guava')
fruits.append('cherry')
fruits

['Apple', 'banana', 'guava', 'cherry']

In [4]:
fruits.insert(-1,'fig')
fruits

['Apple', 'banana', 'guava', 'fig', 'fig', 'cherry']

In [6]:
fruits.insert(-2,'dragonfruit')
fruits

['Apple',
 'banana',
 'guava',
 'fig',
 'dragonfruit',
 'dragonfruit',
 'fig',
 'cherry']

In [7]:
fruits.insert(100,'rotten apple')  #size zyada hoga

In [8]:
fruits

['Apple',
 'banana',
 'guava',
 'fig',
 'dragonfruit',
 'dragonfruit',
 'fig',
 'cherry',
 'rotten apple']

In [9]:
dry_fruits=["Almonds",'Cashew','Wallnuts']
fruits.extend(dry_fruits)
fruits

['Apple',
 'banana',
 'guava',
 'fig',
 'dragonfruit',
 'dragonfruit',
 'fig',
 'cherry',
 'rotten apple',
 'Almonds',
 'Cashew',
 'Wallnuts']

In [10]:
len(fruits)

12

In [11]:
if 'rotten apples' in fruits:
    fruits.removove('rotten apple')
else:
    print('No rotten apple found')

No rotten apple found

In [12]:
x=[1,2,3,[1,2,3,4]]
x

[1, 2, 3, [1, 2, 3, 4]]

In [13]:
if 2 in x[3]:
    x[3].remove(2)
x

[1, 2, 3, [1, 3, 4]]

### Pop can be used in 2 ways
- 'list.pop()' => remove the last value in the list and gives that value
- 'list.pop(index)' => remove the value at that index in the list and gives that value

In [14]:
v=fruits.pop()
print('Removed value => ',v)
print('list =>',fruits)

Removed value =>  Wallnuts
list => ['Apple', 'banana', 'guava', 'fig', 'dragonfruit', 'dragonfruit', 'fig', 'cherry', 'rotten apple', 'Almonds', 'Cashew']

In [17]:
fruits.clear()
fruits

[]

In [19]:
fruits.append(1)

In [22]:
movies=['movie1','movie2','movie3','movie4','movie5','movie6','movie7','movie8','movie9','movie10','movie11','movie12']
movies.reverse()
print("Reverse\n",movies)

Reverse
 ['movie12', 'movie11', 'movie10', 'movie9', 'movie8', 'movie7', 'movie6', 'movie5', 'movie4', 'movie3', 'movie2', 'movie1']

In [23]:
movies.sort()
movies

['movie1',
 'movie10',
 'movie11',
 'movie12',
 'movie2',
 'movie3',
 'movie4',
 'movie5',
 'movie6',
 'movie7',
 'movie8',
 'movie9']

In [24]:
movies.sort(reverse=True)

In [25]:
movies

['movie9',
 'movie8',
 'movie7',
 'movie6',
 'movie5',
 'movie4',
 'movie3',
 'movie2',
 'movie12',
 'movie11',
 'movie10',
 'movie1']

In [26]:
dup_mov=movies.copy()
dup_mov

['movie9',
 'movie8',
 'movie7',
 'movie6',
 'movie5',
 'movie4',
 'movie3',
 'movie2',
 'movie12',
 'movie11',
 'movie10',
 'movie1']

In [28]:
movies.index('movie11')

9

In [30]:
if 'movie9' in movies:
    print(movies.index('movie11'))

9

In [33]:
x=[1,2,3,4,5,5,6,67,87,8,8,88,9,99,9,9,9,99]
x.count(9)

4

In [1]:
nums = []
for i in range(15):
    val=int(input(f'Enter {i+1} nos. >'))
    nums.append(val)
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6]

In [2]:
print('sum of nums = ',sum(nums))
print('min of nums = ',min(nums))
print('max of nums = ',max(nums))
print('mean of values = ',sum(nums)/len(nums))

sum of nums =  66
min of nums =  1
max of nums =  9
mean of values =  4.4