In [2]:
a=set()
a.add(1)
a

{1}

In [3]:
d={1,2,3,3,3,3,1,1,2,2,2,11,2,2,22,2,1}
d

{1, 2, 3, 11, 22}

In [4]:
d.remove(2)

In [5]:
d

{1, 3, 11, 22}

In [6]:
x=set()
for i in range(5):
    val=input("Enter Values")
    x.add(val)
x

{'1', '2', '3', '4'}

In [10]:
for i in d:
    print(i)

1
3
22
11

In [11]:
sa={1,2,3,4,5}
sb={2,7,8,8,9,5}
sb.union(sa)

{1, 2, 3, 4, 5, 7, 8, 9}

In [12]:
sa|sb

{1, 2, 3, 4, 5, 7, 8, 9}

In [13]:
sa&sb

{2, 5}

In [14]:
sb.difference (sa)

{7, 8, 9}

In [15]:
sa.difference(sb)

{1, 3, 4}

In [16]:
sb.symmetric_difference(sa)

{1, 3, 4, 7, 8, 9}

In [17]:
sa ^ sb

{1, 3, 4, 7, 8, 9}

In [18]:
sc={1,2,3,4,5,6,7,8,9,10}
sd={11,12,13}
sa.issubset(sc)

True

In [19]:
sb.issubset(sc)

True

In [24]:
total=0
saa=set()
for i in range(10):
    num=int(input("Enter a number:"))
    saa.add(num)
total=sum(saa)
total

15